.menu {
    background-color: #411466;
    width: 12.5%;
    padding: 15px 0px;
    position: relative;
    .openMenu,
    .closeMenu {
        position: absolute;
        right: -30px;
        top: 35px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 20px;
        background-color: #ffffff1a;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        display: none;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
    }
    .closeMenu {
        right: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
    }
    .menu__logo {
        width: 100%;
        height: 30px;
        margin-bottom: 15px;
    }
    .menu__items .item {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 7px 25px;
        color: #b3b3b3;
        font-weight: 700;
        font-size: 13px;
        transition: all 0.3s;
        i {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            font-size: 20px;
        }
        &:hover {
            color: #fff;
        }
        &:first-child {
            padding-left: 22px;
            color: #fff;
            background-color: #ffffff1a;
            border-left: 3px solid #ed2b91;
        }
    }
    .menu__createList {
        display: flex;
        cursor: pointer;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        position: fixed;
        bottom: 103px;
        padding: 25px;
        width: 12.5%;
        text-align: center;
        border-top: 1px solid;
    }
}
@media screen and (max-width: 1200px) {
    .menu {
        width: 20%;
    }
}
@media screen and (max-width: 741px) {
    .menu {
        position: fixed;
        transform: translateX(-100%);
        z-index: 1;
        height: 100%;
        width: 100%;
        transition: all 0.7s;
        .openMenu,
        .closeMenu {
            display: flex;
        }
        .menu__createList {
            width: 100%;
            bottom: 150px;
        }
    }
}
